<form>
    <h2>Edit Movie details</h2>
    <label>
      <p class="label-txt">Movie title</p>
      <input type="email" name="email" class="input" [(ngModel)]="moviename">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>

    <label>
      <p class="label-txt">Image Link</p>
      <input type="text" class="input" name="password"[(ngModel)]="imglink" >
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">Trailer Link</p>
      <input type="text" class="input" name="password"[(ngModel)]="trailerlink" >
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>

    <label>
        <p class="label-txt">Description</p>
        <input type="text" class="input" name="3"[(ngModel)]="description" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Ticket Price</p>
        <input type="text" class="input" name="4"[(ngModel)]="price" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Show date</p>
        <input type="text" class="input" name="5"[(ngModel)]="date" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Show Time</p>
        <input type="text" class="input" name="6"[(ngModel)]="showTime" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Release Date</p>
        <input type="text" class="input" name="77"[(ngModel)]="releaseDate" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A1</p>
        <input type="text" class="input" name="8"[(ngModel)]="A1.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A1</p>
        <input type="text" class="input" name="9"[(ngModel)]="A1.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A2</p>
        <input type="text" class="input" name="10"[(ngModel)]="A2.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A2</p>
        <input type="text" class="input" name="11"[(ngModel)]="A2.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A3</p>
        <input type="text" class="input" name="12"[(ngModel)]="A3.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A3</p>
        <input type="text" class="input" name="13"[(ngModel)]="A3.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A4</p>
        <input type="text" class="input" name="14"[(ngModel)]="A4.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A4</p>
        <input type="text" class="input" name="15"[(ngModel)]="A4.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A5</p>
        <input type="text" class="input" name="16"[(ngModel)]="A5.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A5</p>
        <input type="text" class="input" name="17"[(ngModel)]="A5.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A6</p>
        <input type="text" class="input" name="18"[(ngModel)]="A6.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A6</p>
        <input type="text" class="input" name="19"[(ngModel)]="A6.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A7</p>
        <input type="text" class="input" name="20"[(ngModel)]="A7.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A7</p>
        <input type="text" class="input" name="21"[(ngModel)]="A7.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A8</p>
        <input type="text" class="input" name="22"[(ngModel)]="A8.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A8</p>
        <input type="text" class="input" name="23"[(ngModel)]="A8.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A9</p>
        <input type="text" class="input" name="24"[(ngModel)]="A9.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A9</p>
        <input type="text" class="input" name="25"[(ngModel)]="A9.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Availability of seat A10</p>
        <input type="text" class="input" name="26"[(ngModel)]="A10.available" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Occupier of seat A10</p>
        <input type="text" class="input" name="27"[(ngModel)]="A10.occupiedby" >
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>


    <button type="submit" (click)="update()">Save updates</button>

</form>