* {
    margin: 0;
    padding: 0;
}

body {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

img {
    /* margin-left: 35%; */
    margin-top: 2.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.seat {
    margin-top: 3%;
}

button {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background: #5E5DF0; */
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    /* color: #FFFFFF; */
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    /* border-radius: 20px; */
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}